
 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

#container{
    border: 1px solid black !important;
}

.size{
    width: 10%;
    aspect-ratio: 1/1;
    border: 1px solid black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.number {
    background-color: greenyellow;
    color: black;
  }
  
  .fizz {
    background-color:red;
    color: black;
  }
  
  .buzz {
    background-color: blue;
    color: white;
  }
  
  .fizzbuzz {
    background-color: yellow;
    color: black;
  }
  